@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.qr-body{
  background-color: #fff;
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.qr-img{
  width: 250px;
  border-radius: 10px;
}
.txt-p1{
  color: hsl(218, 44%, 22%);
  font-size: 15px;
  font-weight: 700;

}
.txt-p2{
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
